/*首页导航栏字体*/
.text-base {
    font-size: 1.25rem;
    line-height: 4rem;
}

/*标签云容器*/
.blog-tags {
    justify-content: center;
    align-items: center;
    align-content: center;
}

/*标签云内容*/
.blog-tag {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    padding-left: 7rem;
    padding-right: 7rem;
}

/* 小屏幕设备样式 */
@media (max-width: 768px) {
    .blog-tag {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

/*引入字体样式*/
@font-face {
    font-family: font;
    src: url('/fonts/NotoSansSC-VariableFont_wght.woff2');
}

/*字体应用全局*/
body {
    font-family: font, serif;
}

/*首页导航激活时的下划线跳转*/
.active {
    text-underline-offset: 6px;
}

/*闪烁下划线*/
.blinking {
    animation: blinker 0.8s linear infinite;
    display: inline-block;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

/*主体内容宽度限制*/
.max-w-prose {
    max-width: 80ch;
}