/*首页导航栏字体*/
.text-base {
    font-size: 1.25rem;
    line-height: 4rem;
}

/*标签云容器*/
.blog-tags {
    position: relative;
    padding-bottom: 35%;
    margin: 0 auto;
    border-radius: 100%;
}

/*标签云内容*/
.blog-tag {
    position: absolute;
    max-width: 200px;
}

/* 小屏幕设备样式 */
@media (max-width: 768px) {
    .blog-tags {
        padding-bottom: 100%; /* 增加展示区 */
    }
}

/*引入字体样式*/
@font-face {
    font-family: font;
    src: url('/fonts/AlimamaShuHeiTi-Bold.woff2');
}

/*字体应用全局*/
body {
    font-family: font, serif;
}

/*首页导航激活时的下划线跳转*/
.active {
    text-underline-offset: 6px;
}

/*闪烁下划线*/
.blinking {
    animation: blinker 0.8s linear infinite;
    display: inline-block;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}